:root {
    --light-purple: #903AFF;
    --dark: #150E28;
    --pink: #D434FE;
    --ff-title: 'Clash Display', sans-serif;
    --ff: 'Montserrat', sans-serif;
    --line: .0000005rem solid grey;
    --l-grad: linear-gradient(180deg, rgb(144, 58, 255) 0%, rgb(212, 52, 254) 100%);
}

.c-pg {
    font-size: 1.14rem;
    line-height: auto;
}
.c-pg .container {
    width: 80%;
}

.form, .reg {
    background-color: rgba(255, 255, 255, .03);
    backdrop-filter: blur(10px);
    /* border: 1px solid white; */
    padding: 2.5rem 3.5rem;
    border-radius: 5px;
}

.form {
    margin-top: 4rem;
}

.mob-invisible {
    display: none;
}

.mob-invisible i {
    display: none;
}

.form .accent {
    font-size: 20px;
}
.form p {
    width: 70%;
    font-weight: 600;
    margin: 0;
    margin-bottom: 2rem;
}

input, textarea, select {
    max-width: 100%;
    color: white;
    display: block;
    background-color: inherit;
    border: 1px solid white;
    margin-bottom: 2rem;
    border-radius: 4px;
    padding: 1rem 1rem;
    width: 100%;
}

.btn {
    display: flex;
}

.contact-form div:first-child {
    margin-top: 3rem;
}

.info {
    align-self: center;
}

.info p {
    margin: 0;
}
.info h2 {
    margin-top: 0;
    font-weight: 600;
    font-size: 2.28rem;
    margin-bottom: 1rem;
}
button {
    display: block;
    border: 0;
    color: white;
    padding: 0.8rem 3rem !important;
    /* justify-content: center; */
    margin: 0 auto;
}

.contact-form ::placeholder {
    color: white;
    /* font-family: ; */
}
 .c-pg i {
    margin-right: 0.5rem;
}

/* Register */
.registration {
    align-items: center;
}
/* .reg-form p:first-of-type {
    display: inline;
} */

.reg-grid div {
    min-width: 0;
}

.reg-grid label {
    display: block;
    margin-bottom: 0.5rem;
}

.reg h2 {
    font-size: 2.28rem;
    font-family: var(--ff-title);
    font-weight: 600;
    margin: 0;
    margin-bottom: 0.5rem;
}

.reg p {
    margin: 0;
}

.reg h3 {
    font-size: 1.7rem;
    margin-top: 1rem;
}

.reg > p {
    display: inline-block;
}

.ppl {
    display: inline-block;
    border-bottom: 1px dashed var(--pink);
    padding: 0 1rem;
}
.ppl img {
    display: inline-block;
}
.banner img {
    width: 80%;
}

.reg-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

.reg-grid input, .reg-form select {
    width: 18rem;
}

[type="checkbox"]{
    opacity: 0;
    position: absolute;
}

li label {
    display: flex;
    align-items: center;
}

.custom-check {
    width: 15px;
    min-width: 15px;
    height: 15px;
    font-size: 10px;
    margin-right: 0;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    cursor: pointer;
    color: transparent;
}

.agreed {
    display: flex;
    gap: 0.5rem;
    margin: 0.5rem 0;
}

[type="checkbox"]:checked + label .custom-check {
    color: white;
    background: inherit;
}


select {
    /* appearance: none; */
    position: relative;
}

.accent2 {
    color: rgba(255, 38, 185, 1);
    font-size: 12px;
    font-style: italic;
}

select::after {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f078";
}

.reg .btn button{
    margin: 0;
    display: block;
    margin-top: 1rem;
    width: 100%;
    font-size: 1.14rem;
}

/* .agree::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 0.5rem;
    border: 1px solid;
    border-radius: ;
} */

/* 760px */
@media (max-width: 760px) {
    .info {
        display: none;
    }

    .c-pg .container {
        text-align: left;
        width: 80%;
    }
    .form, .reg {
        background-color: transparent;
        padding: 0;
    }

    .form p {
        margin-bottom: 1.5rem;
    }

    .mob-invisible {
        display: block;
    }

    .share {
        text-align: center;
        margin-top: 2rem;
    }

    .share p {
        margin: 0;
    }

    /* register */
    .reg h2 {
        display: none;
    }

    .reg-mob {
        text-align: left;
        font-family: var(--ff-title);
        font-weight: 600;
        font-size: 1.25rem;
    }
    .reg-grid {
        grid-template-columns: 1.8fr 1fr;
        /* min-width: max-content; */
    }

    .reg-form p {
        font-size: 10px;
    }
    .span-2 {
        grid-column: span 2;
    }

    .reg-grid input {
        max-width: 100%;
        width: 100%;
        min-width: max-content;
    }

    .registration {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .reg {
        text-align: left;
    }

    .registration .banner {
        width: 80%;
    }

    .registration .banner img {
        margin: 0 auto;
    }
}